:root {

  --verdeClaro: #00af91;

  --verdeEscuro: #007965;

  --laranja: #f58634;

  --amarelo: #ffcc29;

  --roxo: #6225e6;

  --otoAmarelo: #fbc638;

  --duration: 30;

}

@viewport { orientation: landscape; }

.container-login {
  display: flex;
  justify-content: center;
  transform: translateY(50%);
}

.login {
  align-items: center;
  background-color: var(--roxo);
  box-shadow: 6px 6px 0 black;
  color: black;
  display: flex;
  flex-direction: column;
  font-family: Poppins , sans-serif;
  height: 400px;
  justify-content: center;
  position: relative;
  width: 40%;
}
/* background: #6225e6;
  box-shadow: 6px 6px 0 black;
  
  display: flex;
  
  font-size: 40px;
  padding: 10px 45px;
  text-decoration: none;
  transform: skewX(-15deg);
  transition: 1s; */

.login h1 {
  color: white;
  font-size: 60px;
  margin-bottom: 35px;
  text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2) , 0 -5px 35px rgba(255, 255, 255, 0.3);
}

.login input {
  background-color: white;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
  width: 60%;
}

.container-buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 25px;
  width: 40%;
}

.play {
  width: 40%;
}

.config {
  height: 20px;
  width: 20px;
}

.config-button {
  background: none;
  border: none;
  position: absolute;
  transform: translate(280px, -167px);
}

@keyframes bounce {

  0% {
    transform: scale(1, 1) translate(0, 0);
    }

    30%{
    transform: scale(1, 0.8) translate(0px, 10px); 
    }

    75%{
    transform: scale(1,1.1) translate(0px, -25px); 
    }

    100% {
    transform: scale(1,1) translate(0px, 0px);
    }
}


.bounce {
  animation: bounce 0.75s infinite;
  background: var(--otoAmarelo);
  color: white;
  height: 46px;
  margin: 0 auto;
  margin-top: 2em;
  text-align: center;
  text-justify: center;
  text-shadow: black 1px 1px 0;
  width: 150px;
}

.no-bounce:disabled {
  background: var(--laranja);
  color: white;
  height: 46px;
  margin: 0 auto;
  margin-top: 2em;
  text-align: center;
  text-justify: center;
  text-shadow: black 1px 1px 0;
  width: 150px;
}

.setting-btn {
  animation: spin 20s infinite;
  color: var(--otoAmarelo);
}

@keyframes spin {

  from { transform: rotate(0deg);}

  to { transform: rotate(360deg);}
}