.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.red-border {
  border: 1px solid red;
}

.green-border {
  border: 1px solid green;
}


body {
  background-image:
    repeating-linear-gradient(
      -55deg, 
      #7ee60ed2 2rem,
      #7FE60E 4rem
    );
  background-size: 200% 200%;
  animation: barberpole 50s linear infinite;
}

@keyframes barberpole {

  100% {
    background-position: 100% 100%;
  }
}

/* https://css-tricks.com/books/fundamental-css-tactics/striped-barberpole-animation/ */
